/*.zip
dist
.projectFiles
install_log.xml
layout.xml
WolvenKit/custom_refs.txt
WolvenKit/packed

# Ignore all files in the WolvenKit/source directory except for .xl files
WolvenKit/source/*
!WolvenKit/source/resources
WolvenKit/source/resources/*
!WolvenKit/source/resources/*.xl
